<h1>Reddit Reader</h1>

<form method="POST" action="/results">
        <input type="text" id="subreddit" name="subreddit" value="" placeholder="enter a valid subreddit" required="required" autofocus="autofocus" />
</form>