
<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link type='text' rel='stylesheet' href='style.css'>
  </head>
  <body>
    <!-- Top of the page -->
    <h1> This is the Reddit Post</h1>
    <div class='btn'>
      <a href='/'>Go Back</a>
    </div>

    <% @posts.each do |post| %>

      <div class='post'>
      	<h4><%= post['data']['title'] %></h4>
      	<!-- 6. make it so the URL below is shown as a picture in the html  -->
        <p> <%= post['data']['author'] %></p>
      	<img src= <%= post['data']['thumbnail'] %> >
      </div>

    <% end %>
  </body>
</html>
